<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dima.it.polimi.blackboard">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_custom"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_custom_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.MainActivity"/>
        <activity
            android:name=".activities.DetailTodoItemActivity"
            android:label="@string/title_activity_detail"
            android:theme="@style/AppTheme.Detail" />
        <activity android:name=".activities.NewToDoTaskActivity" />
        <activity
            android:name=".activities.GroupListActivity"
            android:label="@string/title_activity_group_list"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.GroupList">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:resource="@xml/searchable"
                android:value="dima.it.polimi.blackboard.activities.MainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MyListActivity"
            android:label="@string/title_activity_group_list"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.GroupList">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:resource="@xml/searchable"
                android:value="dima.it.polimi.blackboard.activities.MainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.BalanceActivity" />
        <activity android:name=".activities.NewPaymentActivity"/>

        <activity android:name=".activities.SettingsActivity"/>
    </application>
</manifest>